.container {
  display: flex;
  justify-content: center;
  padding-bottom: 6em;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 3em;
  margin-left: 0px;
  padding: 0.8em;

  border-radius: 5px 0%;
  box-shadow: 3px 3px #67e8f9, 6px 6px #1f2937, 9px 9px #ed64a6;

  transition: all 1.5s cubic-bezier(0.46, 1.48, 0.18, 0.81);
}

.quote:hover {
  box-shadow: 
    5px 5px #ed64a6, 10px 10px #1f2937, 15px 15px #67e8f9;
}
