.img1y3 {
  width: 75%;
  border-radius: 0.4rem;
  box-shadow: 7px -7px 0 -3px white, 7px -7px #9decf9, 14px -14px 0 -3px white,
    14px -14px #ed64a6;
}

.img2 {
  width: 75%;
  border-radius: 0.4rem;
  box-shadow: -7px -7px 0 -3px white, -7px -7px #9decf9,
    -14px -14px 0 -3px white, -14px -14px #ed64a6;
}
